<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Association</title>
    <style>
        .ui-autocomplete-input .ui-front{ z-index:2147483647; }
    </style>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Themes/base/css")
    @Styles.Render("~/Content/datepickerCss")


</head>

<body data-ng-controller="@Url.Action(" index")">


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Association", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Elève", "Index", "Students")</li>
                    <li>@Html.ActionLink("Parents", "Index", "Parents")</li>
                    <li>@Html.ActionLink("Courses", "Index", "Course")</li>
                    <li>@Html.ActionLink("Realisation", "Index", "Realisation")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Association Application</p>
        </footer>
    </div>
    <script>
      

        var VarsApp = VarsApp || {};
        VarsApp.actionIndex = '@(Url.Action("index"))';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery/otf")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~//bundles/datepickerJs")




    @RenderSection("scripts", required: false)
    <div id='myModal' class='modal fade' data-width="760">
        <div id='myModalContent' class="modal-dialog"></div>
    </div>
    <div id='myModalParent' class='modal fade' data-width="760">
        <div id='myModalContentParent' class="modal-dialog"></div>
    </div>
</body>
</html>
