@model Association.Models.Student
@Styles.Render("~/Content/datepickerCss")
@{
    ViewBag.Title = "Création";
}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Création ELEVE</h4>
    </div>
    <div class="modal-body form-horizontal">
        <div id="msg"></div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", autocomplete="off", data_toggle = "validator" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                <div id="photo-edit" class="col-md-6">
                    @Html.Label("Photo", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class=" form-group  col-md-8">
                        @Html.TextBoxFor(model => model.image, new { type = "file", @class = "filestyles", data_buttonText = "Fichier", data_icon = "false", data_disabled = "true" })
                        @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-10" style="margin-left: 40px;">
                        <div id="image_preview" class="">
                            <div class="thumbnail hidden">
                                <img style="max-height: 150px;" src="" title="" alt="">
                                @*<div class="caption">*@
                                @*<h4></h4>*@
                                @*<p></p>*@
                                @*<p><button type="button" class="btn btn-default btn-danger">Annuler</button></p>*@
                                @* </div> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row form-group">
                        @Html.Label("Fiche", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">

                            @Html.Label("Enfant", htmlAttributes: new { @class = "control-label" }) @Html.RadioButtonFor(model => model.student_type, true)
                            @Html.Label("Adulte", htmlAttributes: new { @class = "control-label " }) @Html.RadioButtonFor(model => model.student_type, false)
                            @Html.ValidationMessageFor(model => model.student_type, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="row form-group">
                        @Html.Label("Sexe", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 ">
                            @Html.Label("Garçon", htmlAttributes: new { @class = "control-label" }) @Html.RadioButtonFor(model => model.student_sexe, true)
                            @Html.Label("Fille", htmlAttributes: new { @class = "control-label" }) @Html.RadioButtonFor(model => model.student_sexe, false)
                            @Html.ValidationMessageFor(model => model.student_sexe, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.LabelFor(model => model.student_name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 ">
                            @Html.EditorFor(model => model.student_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.student_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row form-group">
                        @Html.LabelFor(model => model.student_firstName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 ">
                            @Html.EditorFor(model => model.student_firstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.student_firstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.student_birthday, htmlAttributes: new { @class = "control-label col-md-2 " })
                <div class="col-md-4">
                    @*"{0:dd/mm/yyyy}",*@
                    @Html.EditorFor(model => model.student_birthday, new { htmlAttributes = new { Value = "", @class = "form-control form_datetime" } })
                    @Html.ValidationMessageFor(model => model.student_birthday, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.student_email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.student_email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.student_email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.student_phone, htmlAttributes: new { @class = "control-label col-md-2 studentAdress" })
                <div class="col-md-4 studentAdress">
                    @Html.EditorFor(model => model.student_phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.student_phone, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.student_mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.student_mobile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.student_mobile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group studentAdress">
                @Html.LabelFor(model => model.student_otherPhone, htmlAttributes: new { @class = "control-label  col-md-2" })
                <div class="col-md-4 ">
                    @Html.EditorFor(model => model.student_otherPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.student_otherPhone, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.student_adress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.student_adress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.student_adress, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group studentAdress">

                @Html.LabelFor(model => model.student_city, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.student_city, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.student_city, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.student_postalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.student_postalCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.student_postalCode, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.Partial("Partials/_ListParents")

            <div class="modal-footer">
                @Html.ActionLink("Nouveau parent", "Create", "Parents", null, new { id = "btnCreate", @class = "btn btn-small btn-primary  action-creation parents ", @onfocus = "$(this).blur()", data_modal = "parent" })
                <button class="btn" data-dismiss="modal">Cancel</button>
                <input class="btn btn-success" type="submit" value="Save" />
            </div>
        }
    </div>
</div>

@*@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}*@